*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gainsboro;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "box1"
        "box1";
}
/*Sticky Navigationsbar i toppen*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: gainsboro; */
    background-color: transparent;
    height: 45px;
    width: 100%;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: -60%;
}
.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    font-family: 'Comfortaa';
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 20px;
    height: 25px;
    text-align: center;
    border: 2.5px solid #fff;
    position: absolute;
    display: block;
    width: 160px;
    left: -7%;
    bottom: -12%;
}
.logo:hover {
    color: #fff;
    text-decoration: none;
}
a {
    margin: 15px;
    color: #fff;
    font-family: 'Comfortaa';
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;   
}
/*Selve siden*/
.box1 {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box1 h1 {
    font-family: 'Comfortaa';
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 10%;
    bottom: 80%;
    line-height: 140%;
    text-decoration: underline;
}
.box1 p1 {
    font-family: 'Comfortaa';
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 10%;
    bottom: 57%;
    line-height: 140%;
    max-width: 450px;
    font-style: italic;
}
.box1 p2 {
    font-family: 'Comfortaa';
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 10%;
    bottom: 50%;
    line-height: 140%;
    max-width: 450px;
    font-style: italic;
}
/*Billederne*/
.opstillet {
    position: absolute;
    height: 380px;
    width: auto;
    left: 13%;
    bottom: -5%;
    filter: brightness(100%);
}
.plain {
    position: absolute;
    height: 480px;
    width: auto;
    left: 60%;
    bottom: 14%;
    border: 4px solid #fff;
    filter: brightness(100%);
    border: solid #fff 4px;
}
.btn {
    position: absolute;
    left: 77.5%;
    bottom: 2%;
    color: #fff;
    background-color: transparent;
    font-family: ; 
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    border: #fff 2px outset;
    padding: 10px 18px;
}
.port:hover {
    border: solid 4px #fff;
    text-decoration: none;
}